<div class="dashboard-container">
    <header class="dashboard-header">
        <h1>Tableau de Bord</h1>
        <p>Bienvenue, [Nom de l'utilisateur] ! Voici un aperçu de ton progrès.</p>
    </header>

    <section class="dashboard-content">
        <div class="stats">
            <div class="stat-card">
                <h2>Poids Actuel</h2>
                <p>70 kg</p>
            </div>
            <div class="stat-card">
                <h2>Nombre d'entrainment de la semaine </h2>
                <p>4</p>
            </div>
            <div class="stat-card">
                <h2>Objectif</h2>
                <p>Perdre 5 kg</p>
            </div>
        </div>

        <div class="actions">
            <h2>Actions Rapides</h2>
            <div class="action-buttons">
                <a href="/Workouts/Log" class="btn btn-primary">Ajouter un Entraînement</a>
                <a href="/Nutrition/Log" class="btn btn-secondary">Enregistrer Nutrition</a>
                <a href="/Progress" class="btn btn-success">Voir Progression</a>
            </div>
        </div>
    </section>

    
</div>
